course/Python/课程代码/lab6-Bert文本分类实验/code/bert_pretrain/pytorch_model.bin
course/Python/课程代码/lab6-Bert文本分类实验/code/ERNIE_pretrain/pytorch_model.bin
course/Python/课程代码/lab6-Bert文本分类实验/code/THUCNews/saved_dict/*
course/Python/课程代码/lab6-Bert文本分类实验/code/youku/saved_dict/*
course/深度学习技术与应用/homework3/data/
